h1{
color: blue;
}
#item1{
    color: aqua;
}
.student{
    background-color: blueviolet;
}

[type]{
    width: 200px;
}
input + a{
    color: red;
}

p:first-child{
    color: chartreuse;
}
p:first-of-type{
    color: brown;
}

div ~ a{
    color: chocolate;
}

